@import "tailwindcss";
/* body{
    background: url('src/assets/star-4773.gif');
} */
 .forgot-main{
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
 }
 .forgot-container{
    border-radius: 0.5rem;
    backdrop-filter: blur(0.5rem);
    display: flex;
    flex-direction: column;
    gap: 4rem;
 }
 .otp-btn{
    border: 2px solid black;
    border-radius: 0.5rem;
    width: 8rem;
    height: 3rem;
 }


.inputs{
   display: flex;
   justify-content: center;
   align-items: center;
}  
.input {
    width: 40px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    text-align: center;
    font-size: 36px;
    cursor: not-allowed;
    pointer-events: none;
    
}
.container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
@media screen and (max-width:768px) {
   .inputs{
      margin-top: 5rem;
   }
}
.input:focus {
    border-bottom: 3px solid orange;
    outline: none;
}

.input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow_circle {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow_circle046 .5s alternate infinite ease;
}

@keyframes shadow_circle046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow_circle:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow_circle:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
